<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/vistas/favicon.png">
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap" rel="stylesheet">
    <title>Challenge</title>
</head>
<body>
    <div class="contenedor"> 
        
        
        <div class="izquierda">
            <h1>Tabla de resultados</h1>
            <br>
            <p>Resultados de la última fecha.</p>
            <p>Los equipos que peligran el descenso son: </p>

            

            <% for (let i = 24; i < 28; i++) { %>
                <p class="info">↳ <%= estado.map(equipo => equipo.cuadro[i]) %> </p>
              <% } %>
              
            <br>
            <form method="post" action="/">
                <button type="submit" class="boton-default">Agregar</button>
            </form>

            <br>

        </div>

        <div class="centro">

            <table>
                <tr>
                    <th class="ocultar-columna">Puesto</th>
                    <th></th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th>G</th>
                    <th>E</th>
                    <th>P</th>
                    <th class="ocultar-columna">GF</th>
                    <th class="ocultar-columna">GC</th>
                    <th class="ocultar-columna">DG</th>
                    <th>Pts</th>
                </tr>


                <% for (let i = 0; i < 28; i++) { %>
                    <tr>
                        <td class="ocultar-columna"><%= estado.map(equipo => equipo.puesto[i]) %></td>
                        <td><img src="<%= estado.map(equipo => equipo.escudo[i]) %>" alt="Escudo" class="escudos"/></td> 
                        <td class="izq"><%= estado.map(equipo => equipo.cuadro[i]) %></td>
                        <td><%= estado.map(equipo => equipo.partidos_jugados[i]) %></td>
                        <td><%= estado.map(equipo => equipo.ganados[i]) %></td>
                        <td><%= estado.map(equipo => equipo.empatados[i]) %></td>
                        <td><%= estado.map(equipo => equipo.perdidos[i]) %></td>
                        <td class="ocultar-columna"><%= estado.map(equipo => equipo.goles_favor[i]) %></td>
                        <td class="ocultar-columna"><%= estado.map(equipo => equipo.goles_contra[i]) %></td>
                        <td class="ocultar-columna"><%= estado.map(equipo => equipo.diferencia_goles[i]) %></td>
                        <td><%= estado.map(equipo => equipo.puntos_totales[i]) %></td>
                    </tr>
                <% } %>
            </table>

        <div>
          

        


    </div>

    
    



    

    
</body>
</html>