<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap" rel="stylesheet">
    <title>Challenge</title>
</head>
<body>
    <div class="contenedor"> 
        <div>
            <h1>Tabla de resultados</h1>
            <p>Resultados de la última fecha</p>

        </div>

        <form method="post" action="/">
            <button type="submit">Agregar</button>
        </form>

        <table>
            <tr>
              <th>Puesto</th>
              <th>Escudo</th>
              <th>Cuadro</th>
              <th>PJ</th>
              <th>G</th>
              <th>E</th>
              <th>P</th>
              <th>GF</th>
              <th>GC</th>
              <th>DG</th>
              <th>Pts</th>
            </tr>


            <% for (let i = 0; i < 28; i++) { %>
                <tr>
                  <td><%= estado.map(equipo => equipo.puesto[i]) %></td>
                  <td><img src="<%= estado.map(equipo => equipo.escudo[i]) %>" alt="Escudo" class="escudos"/></td> 
                  <td><%= estado.map(equipo => equipo.cuadro[i]) %></td>
                  <td><%= estado.map(equipo => equipo.partidos_jugados[i]) %></td>
                  <td><%= estado.map(equipo => equipo.ganados[i]) %></td>
                  <td><%= estado.map(equipo => equipo.empatados[i]) %></td>
                  <td><%= estado.map(equipo => equipo.perdidos[i]) %></td>
                  <td><%= estado.map(equipo => equipo.goles_favor[i]) %></td>
                  <td><%= estado.map(equipo => equipo.goles_contra[i]) %></td>
                  <td><%= estado.map(equipo => equipo.diferencia_goles[i]) %></td>
                  <td><%= estado.map(equipo => equipo.puntos_totales[i]) %></td>
                </tr>
            <% } %>
        </table>

   
          

        


    </div>

    
    



    

    
</body>
</html>