<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/vistas/favicon.png">
    <!-- FUENTE -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap" rel="stylesheet">
    <title>Tabla Fútbol Argentino</title>
    <meta name="keywords" content="futbol, argentino, tabla, posiciones">
    <meta name="description" content="Tabla de futbol argentino donde se muestran las posiciones y puntos de los equipos. Ofrece la posibilidad de guardar y revisar los resultados que guarde el usuario ">
    <meta name="author" content="Daniel Per. Github: /oidmortvles">
</head>
<body>
    <div class="contenedor"> 
        
        
        <div class="izquierda">
            <h1>Tabla de resultados</h1>
            <br>
            <p>Los equipos que peligraban el descenso eran: </p>
            

            <% for (let i = 24; i < 28; i++) { %>
                <p class="info">↳ <%= anterior.map(equipo => equipo.cuadro[i]) %> </p>
              <% } %>
              
            <br>
            <form method="get" action="/">
                <button type="submit" class="boton ">Última Fecha ⇒</button>
            </form>

            <br>

            <% for (let i = 0; i < totalObjetos; i++) { %>
                <form method="get" action="/anteriores">
                    <button type="submit" class="fecha" name="valor" value="<%= i %>">Resultado <%= (i +1) %> ⇐</button>
                </form>
                <% } %>


            <br>

        </div>

        <div class="centro">

            <table>
                <tr>
                    <th class="ocultar-columna">Puesto</th>
                    <th></th>
                    <th>Equipo</th>
                    <th>PJ</th>
                    <th>G</th>
                    <th>E</th>
                    <th>P</th>
                    <th class="ocultar-columna">GF</th>
                    <th class="ocultar-columna">GC</th>
                    <th class="ocultar-columna">DG</th>
                    <th>Pts</th>
                </tr>


                <% for (let i = 0; i < 28; i++) { %>
                    <tr>
                        <td class="ocultar-columna"><%= anterior.map(equipo => equipo.puesto[i]) %></td>
                        <td><img src="<%= anterior.map(equipo => equipo.escudo[i]) %>" alt="Escudo" class="escudos"/></td> 
                        <td class="izq"><%= anterior.map(equipo => equipo.cuadro[i]) %></td>
                        <td><%= anterior.map(equipo => equipo.partidos_jugados[i]) %></td>
                        <td><%= anterior.map(equipo => equipo.ganados[i]) %></td>
                        <td><%= anterior.map(equipo => equipo.empatados[i]) %></td>
                        <td><%= anterior.map(equipo => equipo.perdidos[i]) %></td>
                        <td class="ocultar-columna"><%= anterior.map(equipo => equipo.goles_favor[i]) %></td>
                        <td class="ocultar-columna"><%= anterior.map(equipo => equipo.goles_contra[i]) %></td>
                        <td class="ocultar-columna"><%= anterior.map(equipo => equipo.diferencia_goles[i]) %></td>
                        <td><%= anterior.map(equipo => equipo.puntos_totales[i]) %></td>
                    </tr>
                <% } %>
            </table>

        <div>
          

        


    </div>

    
    



    

    
</body>
</html>